@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Testify <a href="/linkversnotreGit" class="btn btn-default btn-sm btn-lg">@@GitHub</a></h1>
    <p class="lead">Testify est une application web permettant à chacun de générer des questionnaires.
        Si vous obtenir désirez obtenir des informations sur les préférences de votre clientèle, ou créer des examens de revisions pour vos étudiants,
        Testify s'offre à vous dans ses versions d'évaluation gratuite et commerciale.</p>
    <p>
        <a href="/Home/HowTo" class="btn btn-warning btn-lg">Comment ça marche &raquo;</a>
        <a href="/Home/Example" class="btn btn-success btn-lg">Examples &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Personalisé</h2>
        <p>
            Que ce soit pour générer des quizzs entre amis ou afin d'établir des tests de conaissances, Testify vous permettra de creer
            des questionnaires adapté a vos besoins. Vous pouvez choisir parmis une variété de possibilité et décider quels seront les choix
            proposés aux utilisateurs et comment les afficher.
        </p>
        <p><a class="btn btn-info" href="/Quizz/Create">Concrétisez vos idées</a></p>
    </div>
    <div class="col-md-3">
        <h2>Modulable</h2>
        <p>Testify se veut modulable a volonté. Vous pouvez en tout temps ajouter ou supprimer certaines questions afin d'affiner votre
            quizz, modifier les réponses valides de votre questionnaire déjà existant sans avoir a en créer un autre, et même choisir la confidentialité
            du questionnaire.</p>
        <p><a class="btn btn-info" href="/Quizz/Create">Découvrez Testify</a></p>
    </div>
    <div class="col-md-3">
        <h2>Dynamique</h2>
        <p>Lors de la création de votre quizz, vous pouvez choisir d'ajouter autant de questions qu'il vous plaîra. La seule limite sera votre imagination !
            Testify n'impose pas de limites de questions dans sa version d'évaluation gratuite. Toutes les options que vous avez définis peuvent être changées en tout temps.</p>
        <p><a class="btn btn-info" href="/Quizz/Create">Commencez a créer</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Abordable</h2>
        <p>
            Dans sa version d'évalutation, Testify vous propose de créer 3 questionnaire de la taille de votre choix, sans pouvoir en modifier la visibilité.
            Devenez un membre honneur en souscrivant à notre plateforme et profitez de toute la puissance Testify sans aucune restrictions.
        </p>
        <p><a class="btn btn-info" href="/Home/Pricing">Devenez membre</a></p>
    </div>
</div>